<section class="footer-section">
    <div class="container">
        <div class="row footer-section-row">
            <div class="col-md-4">
                <div class="address">
                    <div class="left-icon">
                        @*<i class="bi bi-geo-alt Size-for-bootstrap-logo"></i>*@
                        <img class="Size-for-bootstrap-logo" src="/Images/meeting-point.png" />
                    </div>
                    <div class="right-text">
                        <h3>Address</h3>
                        <p>Creative Interiors</p>
                        <p>House no:174, Opposite Yadav Bakery,</p>
                        <p>Village Bhalswa, Jahangir Puri, Delhi-110033</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="address">
                    <div class="left-icon">
                        @*<i class="bi bi-envelope-fill Size-for-bootstrap-logo"></i>*@
                        <img class="Size-for-bootstrap-logo" src="/Images/sending.png" />
                    </div>
                    <div class="right-text">
                        <h3>Mail Id</h3>
                        <p>Support@Sonatablinds.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="address">
                    <div class="left-icon">
                        @*<i class="bi bi-telephone Size-for-bootstrap-logo"></i>*@
                        <img class="Size-for-bootstrap-logo" src="/Images/call.png" />
                    </div>
                    <div class="right-text">
                        <h3>Phone</h3>
                        <p>+91 9811794247</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3 class="footer-title"><span class="footer-title-text">Quick Link</span><span class="footer-title-underline"></span></h3>
                <ul class="quick-link-list">
                    <li><a href="#"> Zebra Blinds</a></li>
                    <li><a href="#">  Roller Blinds</a></li>
                    <li><a href="#">  Wooden Blinds</a></li>
                    <li><a href="#"> Vertical Blinds</a></li>
                    <li><a href="#"> Venation Blinds</a></li>
                    <li><a href="#"> Roman Blinds</a></li>
                    <li><a href="#"> Open-Roman Blinds</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="footer-title title-transparent">Quick Link</h3>
                @*<ul class="quick-link-list">
                    <li><a href="#"> Open-Roman Blinds</a></li>
                    <li><a href="#"> </a></li>
                    <li><a href="#"> News & Events</a></li>
                    <li><a href="#"> News & Events</a></li>
                    <li><a href="#"> Youth Welfare Programme</a></li>
                    <li><a href="#"> Relief Work</a></li>
                </ul>*@
            </div>
            <div class="col-md-3">
                <h3 class="footer-title title-transparent">Quick Link</h3>
                @*<ul class="quick-link-list">
                    <li><a href="#"> Donation</a></li>
                    <li><a href="#"> Future Plan</a></li>
                    <li><a href="#"> Feedback</a></li>
                    <li><a href="#"> Site Map</a></li>
                    <li><a href="#"> Contact Us</a></li>
                </ul>*@
            </div>
            <div class="col-md-3">
                <h3 class="footer-title"><span class="footer-title-text">Get Updates</span><span class="footer-title-underline"></span></h3>
                <p class="newsletter">Signup to Our Newsletter.</p>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-new" id="usr" name="username" placeholder="Enter Your Mail Id">
                    </div>
                    <button type="submit" class="btn btn-primary subscribe">Subscribe</button>
                </form>
                <div id="social">
                    <a class="facebookBtn smGlobalBtn" href="#"></a>
                    <a class="twitterBtn smGlobalBtn" href="#"></a>
                    <a class="youtubeBtn smGlobalBtn" href="#"></a>
                    <a class="linkedinBtn smGlobalBtn" href="#"></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-section-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 footer-bottom-left">
                <p>© All Rights Reserved Creative Interiors</p>
            </div>
            <div class="col-md-6 footer-bottom-right">
                <p>Developed by <a href="#" class="developer-link-url">HHM Technologies.</a></p>
            </div>
        </div>
    </div>
</section>