.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.container-fluid {
    justify-content: space-between !important;
}

.top-row {
    height: 5.5rem;
    /*background-color: rgba(0,0,0,0.4);*/
    /*background-color: #1d7590;*/
    background-color: #214d5a;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar-brand {
    font-size: 1.1rem;
    color: white;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
    padding-top: 6rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .container-fluid {
        justify-content: space-between !important;
    }

    .navigation-bar { /*display: flex;*/
        display: none;
    }
    .Hide-NavBar {
        display: block !important;
    }
}


.navigation-bar {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: fixed;
    width: 100%;
    background: #166a84;
    z-index: 998;
}

.Main-logo-display {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    color:white;
    width:7rem;
}

.Hide-NavBar {
    display: none;
}