<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_1">
                    <div class="image-box">
                        <figure class="image image-1">
                            <img width="488" height="512" src="https://dormatic.smartdemowp.com/wp-content/uploads/about-1.jpg" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                        </figure>
                        <figure class="image image-2">
                            <img width="280" height="220" src="https://dormatic.smartdemowp.com/wp-content/uploads/about-2.jpg" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                        </figure>
                        <div class="image-content">
                            <h2>59k</h2>
                            <h3>Projects Done This Year</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_1">
                    <div class="content-box">
                        <div class="sec-title">
                            <span>Creative Interiors</span>
                            <h2>Sonata Blinds Manufacture all Kinds of Blinds</h2>
                        </div>
                        <div class="text">
                            <div class="quote" style="background-image: url(https://dormatic.smartdemowp.com/wp-content/uploads/quote-1.png);"></div>
                            <h3>Are you tired of the same old boring window treatments in your home? It's time to upgrade with blinds!</h3>
                            <p>
                                Sonata Blinds is a leading manufacturer of high quality blinds for both home and office furnishing.
                                We offer a wide range of blinds including Zebra Blinds, Roller Blinds, Venetian Blinds, Wooden Blinds,
                                and Vertical Blinds. Our blinds are available in a variety of colors, styles, and materials to suit your taste and budget.
                            </p>
                        </div>
                        <div class="author-box clearfix">
                            <figure class="signature">
                                <img width="220" height="53" src="https://dormatic.smartdemowp.com/wp-content/uploads/signature-1.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                            </figure>
                            <h3>Umesh Jaiswal</h3>
                            <span class="designation">Company Owner</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>