<section class="chooseus-section">
    <figure class="icon-layer">
        <img width="644" height="589" src="https://dormatic.smartdemowp.com/wp-content/uploads/2021/01/icon-10.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
    </figure>
    <div class="auto-container">
        <div class="sec-title">
            <span>Garage Door installation &amp; Repair</span>
            <h2>Why People Trust And <br>Choose Dormatic</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 content-column">
                <div class="content_block_2">
                    <div class="content-box">
                        <div class="inner-box" style="background-image: url(https://dormatic.smartdemowp.com/wp-content/uploads/2021/01/chooseus-1.jpg);">
                            <div class="text">
                                <h2>25</h2>
                                <h5>years of <br>Smart Working experience</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 inner-column">
                <div class="inner-content">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <figure class="icon-box">
                                        <img width="64" height="64" src="https://dormatic.smartdemowp.com/wp-content/uploads/2021/01/icon-1.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                        <div class="icon-shape"></div>
                                    </figure>
                                    <h3><a href="" target="_blank" rel="nofollow">Quality Services</a></h3>
                                    <p>Kaoreet efficitur aliquam volut consequat sed imperdiet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <figure class="icon-box">
                                        <img width="64" height="64" src="https://dormatic.smartdemowp.com/wp-content/uploads/icon-2.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                        <div class="icon-shape"></div>
                                    </figure>
                                    <h3><a href="" target="_blank" rel="nofollow">Expert Staff</a></h3>
                                    <p>Kaoreet efficitur aliquam volut consequat sed imperdiet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <figure class="icon-box">
                                        <img width="64" height="64" src="https://dormatic.smartdemowp.com/wp-content/uploads/icon-3.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                        <div class="icon-shape"></div>
                                    </figure>
                                    <h3><a href="" target="_blank" rel="nofollow">Simple Pricing</a></h3>
                                    <p>Kaoreet efficitur aliquam volut consequat sed imperdiet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <figure class="icon-box">
                                        <img width="64" height="64" src="https://dormatic.smartdemowp.com/wp-content/uploads/icon-4.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                        <div class="icon-shape"></div>
                                    </figure>
                                    <h3><a href="" target="_blank" rel="nofollow">Available 24/7</a></h3>
                                    <p>Kaoreet efficitur aliquam volut consequat sed imperdiet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <figure class="icon-box">
                                        <img width="64" height="58" src="https://dormatic.smartdemowp.com/wp-content/uploads/icon-5.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                        <div class="icon-shape"></div>
                                    </figure>
                                    <h3><a href="" target="_blank" rel="nofollow">Covering All Areas</a></h3>
                                    <p>Kaoreet efficitur aliquam volut consequat sed imperdiet</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                            <div class="chooseus-block-one">
                                <div class="inner-box">
                                    <figure class="icon-box">
                                        <img width="64" height="64" src="https://dormatic.smartdemowp.com/wp-content/uploads/icon-6.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                        <div class="icon-shape"></div>
                                    </figure>
                                    <h3><a href="" target="_blank" rel="nofollow">100% Guranteed</a></h3>
                                    <p>Kaoreet efficitur aliquam volut consequat sed imperdiet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>