<section class="service-section bg-color-1">
    <div class="pattern-layer" style="background-image: url(https://dormatic.smartdemowp.com/wp-content/uploads/2021/01/shape-1.png);"></div>
    <div class="auto-container">
        <div class="title-inner clearfix">
            <div class="sec-title light text-right">
                <span>Garage Door installation &amp; Repair</span>
                <h2>Fast &amp; Professional Services We Offer</h2>
            </div>
            <div class="text">
                <p class="forsmall">Aute irure dolor reprehenderit cepteur ocaecat cupidatate sed ipsum non proident int sunt indys sint sed ipsum culpa quis.</p>
            </div>
        </div>
        <div class="three-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one owl-loaded owl-drag">



            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-1170px, 0px, 0px); transition: all 0s ease 0s; width: 3510px;">
                    <div class="owl-item cloned " style="width: 360px; margin-right: 30px;">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <a  rel="nofollow">
                                        <img width="360" height="280" src="https://dormatic.smartdemowp.com/wp-content/uploads/service-3.jpg" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                    </a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box">
                                        <div class="icon">
                                            <i class="bi bi-house-gear"></i>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a  rel="nofollow">Garage Door Repair</a></h3>
                                        <p>Sunt culpa qui officia deslys mollit anim est laborum. Sed perspiciatis un omnis iste natus error sit voluptatem.</p>
                                    </div>
                                    <div class="link"><a href="https://dormatic.smartdemowp.com/service/garage-door-repair/" target="_blank" rel="nofollow">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <a rel="nofollow">
                                        <img width="360" height="280" src="https://dormatic.smartdemowp.com/wp-content/uploads/service-1.jpg" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                    </a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box">
                                        <div class="icon">
                                            <i class="bi bi-house-add-fill"></i>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a rel="nofollow">New Door Installation</a></h3>
                                        <p>Sunt culpa qui officia deslys mollit anim est laborum. Sed perspiciatis un omnis iste natus error sit voluptatem.</p>
                                    </div>
                                    <div class="link"><a href="https://dormatic.smartdemowp.com/service/new-door-installation/" target="_blank" rel="nofollow">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <a rel="nofollow">
                                        <img width="360" height="280" src="https://dormatic.smartdemowp.com/wp-content/uploads/2021/01/service-2.jpg" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                    </a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box">
                                        <div class="icon">
                                            <i class="bi bi-building"></i>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a rel="nofollow">Commercial Services</a></h3>
                                        <p>Sunt culpa qui officia deslys mollit anim est laborum. Sed perspiciatis un omnis iste natus error sit voluptatem.</p>
                                    </div>
                                    <div class="link"><a href="https://dormatic.smartdemowp.com/service/commercial-services/" target="_blank" rel="nofollow">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <a rel="nofollow">
                                        <img width="360" height="280" src="https://dormatic.smartdemowp.com/wp-content/uploads/service-3.jpg" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                    </a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box">
                                        <div class="icon">
                                            <i class="bi bi-house-gear"></i>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a rel="nofollow">Garage Door Repair</a></h3>
                                        <p>Sunt culpa qui officia deslys mollit anim est laborum. Sed perspiciatis un omnis iste natus error sit voluptatem.</p>
                                    </div>
                                    <div class="link"><a href="https://dormatic.smartdemowp.com/service/garage-door-repair/" target="_blank" rel="nofollow">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <a rel="nofollow">
                                        <img width="360" height="280" src="https://dormatic.smartdemowp.com/wp-content/uploads/service-1.jpg" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                    </a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box">
                                        <div class="icon">
                                            <i class="bi bi-house-add-fill"></i>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a rel="nofollow">New Door Installation</a></h3>
                                        <p>Sunt culpa qui officia deslys mollit anim est laborum. Sed perspiciatis un omnis iste natus error sit voluptatem.</p>
                                    </div>
                                    <div class="link"><a href="https://dormatic.smartdemowp.com/service/new-door-installation/" target="_blank" rel="nofollow">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 360px; margin-right: 30px;">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <a rel="nofollow">
                                        <img width="360" height="280" src="https://dormatic.smartdemowp.com/wp-content/uploads/2021/01/service-2.jpg" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                    </a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box">
                                        <div class="icon"><i class="bi bi-building"></i></div>
                                    </div>
                                    <div class="text">
                                        <h3><a rel="nofollow">Commercial Services</a></h3>
                                        <p>Sunt culpa qui officia deslys mollit anim est laborum. Sed perspiciatis un omnis iste natus error sit voluptatem.</p>
                                    </div>
                                    <div class="link"><a href="https://dormatic.smartdemowp.com/service/commercial-services/" target="_blank" rel="nofollow">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <a rel="nofollow">
                                        <img width="360" height="280" src="https://dormatic.smartdemowp.com/wp-content/uploads/service-3.jpg" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                    </a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box">
                                        <div class="icon">
                                            <i class="bi bi-house-gear"></i>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a rel="nofollow">Garage Door Repair</a></h3>
                                        <p>Sunt culpa qui officia deslys mollit anim est laborum. Sed perspiciatis un omnis iste natus error sit voluptatem.</p>
                                    </div>
                                    <div class="link"><a href="https://dormatic.smartdemowp.com/service/garage-door-repair/" target="_blank" rel="nofollow">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <a rel="nofollow">
                                        <img width="360" height="280" src="https://dormatic.smartdemowp.com/wp-content/uploads/service-1.jpg" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                    </a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box">
                                        <div class="icon">
                                            <i class="bi bi-house-add-fill"></i>
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h3><a rel="nofollow">New Door Installation</a></h3>
                                        <p>Sunt culpa qui officia deslys mollit anim est laborum. Sed perspiciatis un omnis iste natus error sit voluptatem.</p>
                                    </div>
                                    <div class="link"><a href="https://dormatic.smartdemowp.com/service/new-door-installation/" target="_blank" rel="nofollow">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 360px; margin-right: 30px;">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <a rel="nofollow">
                                        <img width="360" height="280" src="https://dormatic.smartdemowp.com/wp-content/uploads/2021/01/service-2.jpg" class="attachment-full size-full" alt="" decoding="async" loading="lazy">
                                    </a>
                                </figure>
                                <div class="lower-content">
                                    <div class="icon-box">
                                        <div class="icon"><i class="bi bi-building"></i></div>
                                    </div>
                                    <div class="text">
                                        <h3><a rel="nofollow">Commercial Services</a></h3>
                                        <p>Sunt culpa qui officia deslys mollit anim est laborum. Sed perspiciatis un omnis iste natus error sit voluptatem.</p>
                                    </div>
                                    <div class="link"><a href="https://dormatic.smartdemowp.com/service/commercial-services/" target="_blank" rel="nofollow">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav disabled">
                <div class="owl-prev">
                    <i class="bi bi-arrow-left"></i>
                </div>
                <div class="owl-next">
                    <i class="bi bi-arrow-right"></i>
                </div>
            </div>
            <div class="owl-dots disabled">
                <div class="owl-dot active">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="cta-text centred">
            <p>Want Your Garage Door Repair or Installation? We’re Ready To Start!</p>
            <h3>Call Us Today <i class="icon-mob"></i> <a href="tel:12017193488">(+1) 201 719 3488</a> or <a href="https://dormatic.smartdemowp.com/contact-us/"><span>Request a FREE Quote</span></a></h3>
        </div>
    </div>
</section>