.rectagle-Skew {
    width: 100%;
    height: 90vh;
    background-color: #212529;
    -ms-transform: skewY(20deg);
    transform: skewY(10deg);
    overflow: hidden;
}

.major-Rectangle {
    background-color: #EFEFEF;
    height:250vh;
    width:100%;
}
.top-rantangle{
    width:100%;
    height:70vh;
}
.image-Skew {
    transform: skewY(-10deg) !important;
}

.rectangle-image {
    margin:5rem;
    width: 60%;
}
