@page "/"

<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="/Images/wooden_blinds.jpg" class="d-block w-100" style="width:100%; height: 96vh" />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/Images/blinds2.jpg" class="d-block w-100" style="width:100%; height: 96vh" />
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/Images/blinds4.jpg" class="d-block w-100" style="width:100%; height: 96vh" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<Sonatablinds.Components.PeopleTrustComponent></Sonatablinds.Components.PeopleTrustComponent>
<Sonatablinds.Components.ServiceComponent></Sonatablinds.Components.ServiceComponent>
<Sonatablinds.Components.InstallationComponent></Sonatablinds.Components.InstallationComponent>






